body {
  margin: 0px;
  background: black;
}

.Container1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Container2 {
  display: flex;
  position: relative;
  justify-content: center;
}

h1 {
  color: green;
}

h2 {
  position: absolute;
  color: white;
  font-weight: 100;
}

.Gamebox {
  padding-left: 20px;
  height: 500px;
  width: 500px;
  border: solid 1px red;
  background-color: blue;
  overflow: hidden;
}

.obstacle {
  position: relative;
  background-color: green;
  border: solid 1px orange;
}

.bird {
  position: absolute;
  background-color: red;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.scoreboard {
  margin-top: 20px;
  width: 40vw;
  display: flex;
  justify-content: space-between;
}
